<% provide :title, t(".contact") %>
<%= link_to t(".eng"), locale: "en" %>
<%= link_to t(".vie"), locale: "vi" %>
<h1><%= t(".contact") %></h1>
<p>
  <%= t(".contact_the_ruby_on_rails_tutorial") %> <%= link_to t(".contact_page"), Settings.link_railstutorial_contact %>
</p>
