<% provide :title, t(".hom") %>
<%= link_to t(".eng"), locale: "en" %>
<%= link_to t(".vie"), locale: "vi" %>
<h1><%= t(".home") %></h1>
<p>
  <%= t(".tutorial") %> <%= link_to t(".r_tutorial"), Settings.link_railstutorial %>
</p>
